In [5]:
import Ploty as ploty 
import importlib
importlib.reload(ploty)
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

,Unnamed: 0,kąt obrotu\n wału korbowego\n[deg],ciśnienie\nw cylindrze\n(indykowane)\n[bar]
0,NaN,-360.1,2.07666
1,NaN,-359.1,2.04008
2,NaN,-358.1,2.00740
3,NaN,-357.1,1.98018
4,NaN,-356.1,1.95616
...,...,...,...
715,NaN,354.9,2.18624
716,NaN,355.9,2.17886
717,NaN,356.9,2.16772
718,NaN,357.9,2.13962
719,NaN,358.9,2.10842