In [23]:
import plotly.express as px  
import dash  
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
name = 'DEKPOL'

In [32]:
df = pd.read_html('https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/'+name+',Q')[-3].drop([
                                                                                    0,6,7,8,9,10,11,12,13,15,17]).set_index('Unnamed: 0')
shares = pd.read_html('https://www.biznesradar.pl/wskazniki-wartosci-rynkowej/'+name)[0].drop([0,2,3,4,5,6,7,8,9
                                                                                             ,10,11,12,13,14,15]).set_index('Unnamed: 0')


del df["Unnamed: "+str(len(df.columns))]  
del shares["Unnamed: "+str(len(shares.columns))] 

df = df.drop(df.columns[0:2], axis=1)
shares = shares.drop(shares.columns[0:(len(shares.columns)-len(df.columns))]   ,axis=1)
df.columns = df.columns.str.slice(start=2 , stop=7)
shares.columns = df.columns
     
for i in range(len(df.columns)):
    df[str(df.columns[i])] = df[str(df.columns[i])].str.replace('(k/k).*','')
    df[str(df.columns[i])] = df[str(df.columns[i])].str.replace('(r/r).*','')
    df[str(df.columns[i])] = df[str(df.columns[i])].str.replace(' ','')
    shares[str(shares.columns[i])] = shares[str(shares.columns[i])].str.replace(' ','')
    
    
df = df.apply(pd.to_numeric, errors='ignore')
shares = shares.apply(pd.to_numeric, errors='ignore')
df

,14/Q1,14/Q2,14/Q3,14/Q4,15/Q1,15/Q2,15/Q3,15/Q4,16/Q1,16/Q2,...,18/Q2,18/Q3,18/Q4,19/Q1,19/Q2,19/Q3,19/Q4,20/Q1,20/Q2,20/Q3
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
Przychody ze sprzedaży,42461,55303,64678,88639,77450,61033,71035,100922,52961,42584,...,193683,217073,265227,177567,245880,188272,160400,205148,322327,218488
Techniczny koszt wytworzenia produkcji sprzedanej,38525,48331,55895,75540,71735,52332,58424,92773,45410,41380,...,172201,195921,236838,160593,220807,172035,135364,181823,271311,186832
Koszty sprzedaży,1012,807,875,1080,1511,1587,1951,3800,3758,1888,...,4868,5839,11703,7102,3531,2619,9505,5893,12078,7562
Koszty ogólnego zarządu,1219,843,1017,1403,2102,1517,3205,96,1581,1947,...,4994,3961,6151,3034,5356,3652,5186,5220,4395,5090
Zysk ze sprzedaży,1705,5322,6891,10616,2102,5597,7455,4253,2212,-2631,...,11620,11352,10535,6838,16186,9966,10345,12212,34543,19004
Zysk przed opodatkowaniem,799,5037,5491,11181,1350,4768,6979,2309,1583,10102,...,7921,8689,16289,7778,13906,9444,31600,10040,31359,15556
Zysk netto,589,4170,4840,8403,1043,3979,5435,1949,1335,7965,...,6058,7118,11734,5933,11560,6664,26631,8133,25217,11149
EBITDA,2311,6309,7643,12676,2835,6542,8867,4063,3163,13326,...,11471,13902,19776,13594,17535,13616,36433,14016,35820,24192

In [33]:
time = df.columns
shares = shares.iloc[0]
year = [ time[i] for i in range(3,len(time),4)]
year = np.append(year , " 'Q4 ")
sell_revenue = df.iloc[0]
Revenue_year = [np.sum(sell_revenue[i:i+4])/1000000 for i in range(0,len(sell_revenue),4)] 
production_costs = df.iloc[1]
sell_costs = df.iloc[2]
board_costs = df.iloc[3]
sell_profit = df.iloc[4]
gross_profit = df.iloc[5]

net_profit = df.iloc[6]
net_profit_share = net_profit/shares*1000
net_profit_share_year = [ np.sum(net_profit_share[i:i+4]) for i in range(0,len(net_profit_share),4) ]
polynomial_coeff = np.polyfit([i for i in range(0,len(time))], net_profit_share, 1)
curve = np.polyval(polynomial_coeff, [i for i in range(0,len(time))])
        
        

Revenue_1Q = [ sell_revenue[i]/1000 for i in range(0,len(sell_revenue),4)]
Revenue_2Q = [ sell_revenue[i]/1000 for i in range(1,len(sell_revenue),4)]
Revenue_3Q = [ sell_revenue[i]/1000 for i in range(2,len(sell_revenue),4)]
Revenue_4Q = [ sell_revenue[i]/1000 for i in range(3,len(sell_revenue),4)]

gross_profit_1Q = [ gross_profit[i]/1000 for i in range(0,len(sell_revenue),4)]
gross_profit_2Q = [ gross_profit[i]/1000 for i in range(1,len(sell_revenue),4)]
gross_profit_3Q = [ gross_profit[i]/1000 for i in range(2,len(sell_revenue),4)]
gross_profit_4Q = [ gross_profit[i]/1000 for i in range(3,len(sell_revenue),4)]


#region = ['Revenue', 'Earnings']

In [40]:
# --------------------------------------------------------------------------------- Plot configuration
fig_Q = make_subplots(rows=2, cols=2, specs=[[{"secondary_y": True}, {"secondary_y": True}], [{"secondary_y": True}, {"secondary_y": True}]])

def figure(typo,x, y, name,color):
    return  fig.add_trace(typo(x= x, y= y, name= name ,marker=dict(color=color )))

def figure_Q(typo, x, y, name, row, column, color):
    return fig_Q.add_trace(typo(x=x, y=y, name = name, marker=dict(color=color )), row=row, col=column, secondary_y=False)

figure_ = figure_Q(go.Scatter, [time[i] for i in range(0,len(sell_revenue),4)], Revenue_1Q, row=1, column=1 , name='Revenue', color='Navy'       )
figure_Q1 = figure_Q(go.Scatter, [time[i] for i in range(0,len(sell_revenue),4)], gross_profit_1Q, row=1, column=1 , name='Revenue', color='Orange'       )

figure_ = figure_Q(go.Scatter, [time[i] for i in range(1,len(sell_revenue),4)], Revenue_2Q, row=1, column=2 , name='Revenue', color='Navy'       )
figure_Q2 = figure_Q(go.Scatter, [time[i] for i in range(1,len(sell_revenue),4)], gross_profit_2Q, row=1, column=2 , name='Revenue', color='Orange'       )

figure_ = figure_Q(go.Scatter, [time[i] for i in range(2,len(sell_revenue),4)], Revenue_3Q, row=2, column=1 , name='Revenue', color='Navy'      )
figure_Q3 = figure_Q(go.Scatter, [time[i] for i in range(2,len(sell_revenue),4)], gross_profit_3Q, row=2, column=1 , name='Revenue', color='Orange'       )

figure_ = figure_Q(go.Scatter, [time[i] for i in range(3,len(sell_revenue),4)], Revenue_4Q, row=2, column=2 , name='Revenue', color='Navy'       )





# -------------------------------------------------------------------------- App layout
app = dash.Dash(__name__)
app.layout = html.Div(
    children=[
        html.H1(children="Web Dashboard", style = {'textAlign':'center'}),
        
        
        dcc.Dropdown(id="slct_company",
                 options=[
                     {"label": region, "value": region}
                     for region in np.sort(['Revenue', 'Earnings'])],
                 ),

        dcc.Graph(
            figure={
                "data": [
                    {
                        "x": time,
                        "y": sell_revenue,
                        "type": "bar",
                    },
                ],
                "layout": {"title": "Revenue per Q"},
            },
        ),
    
        
        dcc.Graph(
            figure={
                "data": [
                    {
                        "x": year,
                        "y": Revenue_year,
                        "type": "bar",
                    },
                ],
                "layout": {"title": "Revenue per Year"},
            },
        ),    

        
        dcc.Graph(figure = figure_Q(go.Scatter, [time[i] for i in range(3,len(sell_revenue),4)], gross_profit_4Q, row=2,column=2 , name='Gross Profit', color='Orange'       )),

# --------------------------------------------------------------------- Earnings
        dcc.Graph(
            figure={
                "data": [
                    {
                        "x": time,
                        "y": net_profit_share,
                        "type": "bar",
                    },
                ],
                "layout": {"title": "Quartly Earnings/ share"},
            },
        ),

        dcc.Graph(
            figure={
                "data": [
                    {
                        "x": year,
                        "y": net_profit_share_year,
                        "type": "bar",
                    },
                ],
                "layout": {"title": "Yearly Earnings/ share"},
            },
        ),
    
    
    ]
)

In [41]:
@app.callback(
            Output(component_id='new_string', component_property='children'),
            [Input(component_id='text', component_property='value')]
        )
def output_text(text):
    return text

In [42]:
if __name__ == '__main__':
    app.run_server( use_reloader=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Feb/2021 13:51:57] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [25/Feb/2021 13:51:57] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [25/Feb/2021 13:51:57] "GET /_dash-dependencies HTTP/1.1" 200 -